
.card{
    width: 48%;
}
input{
    margin-bottom: 10px;
}
input:hover, textarea:hover{
    border: 1px solid #5934ff;
}
span{
    color: red;
    font-size: 12px;
}
.btn{
    width: 100%;
}
.success-form, .header-form{
    font-weight: 400;
}